@import 'mixins';
@import 'variables';

$main-fonts: Arial, sans-serif;
$headings-color: green;

h1 {
    font-family: $main-fonts;
    color: $headings-color;
}

// nav {
//     background-color: red;
// }

// nav ul {
//     list-style: none;
// }

// nav ul li {
//     display: inline-block;
// }

nav {
    background-color: red;

    ul {
        list-style: none;

        li {
            display: inline-block;
        }
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


#awesome {
    width: 150px;
    height: 150px;
    background-color: green;
    @include border-radius(15px);
}

@mixin make-bold($bool) {
    @if $bool ==true {
        font-weight: bold;
    }
}

@mixin text-effect($val) {
    @if $val ==danger {
        color: red;
    }

    @else if $val ==alert {
        color: yellow;
    }

    @else if $val ==success {
        color: green;
    }

    @else {
        color: black;
    }
}

@mixin border-stroke($val) {
    @if $val ==light {
        border: 1px solid black;
    }

    @else if $val ==medium {
        border: 3px solid black;
    }

    @else if $val ==heavy {
        border: 6px solid black;
    }

    @else {
        border: none;
    }
}


#box {
    width: 150px;
    height: 150px;
    background-color: red;
    @include border-stroke(medium);
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: 100%/12 * $i;
    }
}

@for $j from 1 through 6 {
    .text-#{$j} {
        font-size: 15px * $j
    }
}

div {
    height: 200px;
    width: 200px;
}

 @each $color in blue,
 black,
 red {
     .#{$color}-bg {
         background-color: $color;
     }
 }

//  $x: 1;

//  @while $x < 11 {
//      .text-#{$x} {
//          font-size: 15px * $x;
//      }

//      $x: $x + 1;
//  }

.panel {
    background-color: red;
    height: 70px;
    border: 2px solid green;
}

.big-panel {
    @extend .panel;
    width: 150px;
    font-size: 2em;
}

  h3 {
      text-align: center;
  }

  .info {
      width: 200px;
      border: 1px solid black;
      margin: 0 auto;
  }

  .info-important {
      @extend .info;
      background-color: magenta;
  }